[Unit]
Description=Starts the MCU Linux firmware for Hydrogen on startup
Documentation=https://hydrogen.chaos-3d.com/RPi_microcontroller.html
Before=hydrogen.service
ConditionFileIsExecutable=/usr/local/bin/hydrogen_mcu

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment=HYDROGEN_HOST_MCU_SERIAL=/tmp/hydrogen_host_mcu
RemainAfterExit=yes
ExecStart=/usr/local/bin/hydrogen_mcu -r -I ${HYDROGEN_HOST_MCU_SERIAL}
ExecStop=sh -c 'echo "FORCE_SHUTDOWN" > ${HYDROGEN_HOST_MCU_SERIAL}'
ExecStop=sleep 1
TimeoutStopSec=2
Restart=always
RestartSec=5
